body {
    font-size: 16px;
    background-color: rgb(224, 224, 224);
    font-family: system-ui;
    margin:0;
}
.flex-container {
    display: flex;
    background-color: inherit;
    height: 90vh;
    flex-grow: inherit;
    margin-top: 10px;
    justify-content: space-evenly;
}

.container-1 {
    width: 66%;
    height: 100%;
    background-color: rgb(224, 224, 224);

}

input {
    padding: 10px;

    border: 2px solid #0800548f;
    width: 95%;
    height: 40px;
    color: #525252;
    background-color: rgb(244, 244, 244);
}

h1 {
    text-align: center;
    color: black;
}

.search-form {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(50, 50, 50, 1);
}

.form-container {
    text-align: justify;
}

.input-box {
    width: 20%;
    padding: 10px;
    margin: 10px 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

select {
    width: 23%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #0800548f;
    border-radius: 5px;

}

.compare-submit-button {
    background-color: #4c53af;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    display: inline-block;
    margin-left: 10px;
}

.error {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.graph {
    margin-top: 20px auto;
    text-align: center;
}
