body {
    font-size: 16px;
    background-color: rgb(232, 232, 232);
    font-family: system-ui;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #211c1c;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* Ensure the navbar appears above other elements */
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.logo {
    background-color: rgb(35, 34, 33);
    color: #f3f3f3;
    width: 100px;
}

.active {
    background-color: #4c53af;
}

.user_tab {
    background-color: rgb(140, 140, 140);
    width: 100px;
    float: right;
    /* Align to the right */
    /* margin-right: 20px; */
    /* Add margin to the right */
}

.search-tool {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    display: flex;
    height: 30px;
}

.search-bar {
    border-radius: 1px;
    padding: 2px;
    margin-right: 5px;
    border: 1px solid #ccc;
    height: 90%;
    width: 40%;
}

.search-button {
    border: none;
    background-color: #4c53af;
    color: white;
    padding: 8px 12px;
    border-radius: 1px;
    cursor: pointer;
}

.search_error {
    color: red;
}



.flex-container {
    display: flex;
    background-color: inherit;
    height: 90vh;
    flex-grow: inherit;
    margin: 6px;
    justify-content: space-evenly;
}

.flex-container>div {
    font-size: 24px;
}

.container-1 {
    width: 25%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 3px 1px rgb(180, 187, 189);
    padding: 0px;
    margin: 0px;
}

.stock-table-header {
    width: 85%;
    padding-left: 15%;
    padding-right: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: 500;
    margin-top: 0px;
    background-color: black;
    color: #ffffff;
    border-radius: 10px;
}

.search-wrapper {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 100%;
}

.user-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card {
    box-shadow: 3px 3px 1px rgb(234, 234, 234);
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5px;
    font-size: small;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-left: 15px;
    padding: 20px;
    background-color: #ebebeb;

    transition: background-color 0.3s ease;
    /* This will animate the color change */
}

.card:hover {

    background-color: #b3b3b3;
    /* This is a light green color */
    border-color: #0b4426;
}

.card-container {

    max-height: 75%;
    /* Adjust this value based on the height of your cards */

    overflow-y: auto;
}

.card-container {
    max-height: 75%;
    /* Adjust this value based on the height of your cards */
    overflow-y: auto;
}

/* Add these styles to make the scrollbar thinner */
.card-container::-webkit-scrollbar {
    width: 5px;
    /* Adjust as needed */
}

.card-container::-webkit-scrollbar-thumb {
    background: #ffffff;
    /* Adjust as needed */
}

.card-container::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
    /* Adjust as needed */
}

.spaced {
    margin-left: 10px;
}

.card-link {

    color: inherit;
    /* This will make the link text the same color as the rest of the text */
    text-decoration: none;
    /* This will remove the underline from the link text */
    display: block;
    /* This will make the entire card clickable, not just the text */
}

.stock-info {
    display: flex;

    justify-content: space-between;


}

.header {
    color: #525252;
    margin-top: 6 px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.stock-open {
    color: rgb(64, 64, 64);
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 15px;
}

.stock-high {

    font-weight: bold;
    font-size: 15px;
}

.stock-info div {
    flex: 1 0 20%;
    /* This will make the p elements take up 20% of the width of the .stock-info div and wrap to the next line if there's not enough space */
    margin: 5px;
}



.container-2 {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: inherit;
}

.container-2>div {
    margin: 1px;
    padding: 1px;
}

.container-2a {
    height: 60%;
    background-color: rgb(255, 255, 255);
    justify-content: left;
    border-radius: 10px;
    border-color: rgb(11, 22, 22);
    box-shadow: 3px 3px 1px rgb(180, 187, 189);
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.container-2b {
    height: 40%;
    background-color: inherit;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.container-2b>div {
    margin: 5px;
    padding: 7px;
}

.container-2b-a {
    width: 48%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 1px rgb(180, 187, 189);
}

.red-bar {
    height: 4%;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 0, 0));
    border-radius: 5px;
}

.container-2b-ab {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 98%;
    justify-content: center;
}

.table1 {
    border-radius: 10px;
}

.container-2b-b {
    width: 48%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 1px rgb(180, 187, 189);

}

.container-2b-ba {
    width: 100%;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 136, 14));
    justify-content: center;
    height: 4%;
    border-radius: 5px;

}

.container-2b-bb {
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    height: 98%;

}

.container-3 {
    width: 30%;
    background-color: inherit;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}



.container-3a {
    height: 12%;
    background: linear-gradient(rgb(82, 157, 232), rgb(1, 108, 175));
    justify-content: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 1px rgb(180, 187, 189);
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-weight: 700;
    font-size: large;
}

.container-3a-a {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.container-3a-aa {
    height: 50%;
    justify-content: center;
    align-items: center;
}

.container-3a-ab {
    height: 50%;
    justify-content: center;
    align-items: left;
}

.up_triangle {
    width: 0;
    height: 0;
    margin-top: 4px;
    margin-left: 6px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid rgb(0, 255, 0);
    /* Adjust color and size as needed */
}

.down_triangle {
    width: 0;
    height: 0;
    margin-top: 4px;
    color: red;
    margin-left: 6px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid rgb(255, 0, 0);
    /* Adjust color and size as needed */
}

.container-3a-b {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.watchlist {
    height: 20%;
    background: linear-gradient(#111, #ffffff);
    border-radius: 10px;
    display: flex
}

.container-3b {
    height: 65%;
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 252, 252);
    border-color: #111;
    border-radius: 10px;
    box-shadow: 3px 3px 1px rgb(0, 0, 0);
    padding: 0px;

}

.News-title {
    margin: 0%;
    width: 100%;
    height: 15%;
    background-color: #050720;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    color: #dedede;
}

.news-heading {
    margin-left: 3%;
    margin-top: 5%;
    font-family: Helvetica;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
}

.article {

    display: flex;
    flex-direction: column;
    background-color: inherit;
    justify-content: flex-start;
    margin-left: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    color: #111;
    height: 80%;
}

.snippet:hover {
    transform: scale(1.01);
    background-color: #f5f5f5;
    height: 30%;

}

.headline {
    margin-top: 2%;
    font-size: 16px;
    font-weight: bold;
}

.content {
    margin-top: 10px;
}

.source-link {
    font-size: 12px;
    color: #343434;
    text-decoration: none;
    margin-left: 75%;
    margin-top: 20px;

}




table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 250px;
    font-size: 10px;

}

td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    height: 22px;
    font-size: 12px;
}

th {
    font-size: medium;
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    background-color: #ffffff;
    color: rgb(103, 100, 100);
    font-size: 15px;

}

tr:nth-child(even) {
    background-color: #eeeeee;

}

.loss {
    font-size: 11px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.gain {
    font-size: 11px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}










.tables-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    align-items: left;


}

input {
    padding: 10px;
    border-radius: 2px;
    border: 2px solid #080054;
    width: 95%;
    height: 50px;
    color: #525252;
    background-color: rgb(221, 221, 221);
    font-weight: bold;
    border-radius: 10px;
<<<<<<< HEAD
}