body {
    font-size: 16px;
    height: 800px;
    background-color: rgb(232, 232, 232);
    font-family: system-ui;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    height:90vh;
}
input {
    padding: 10px;

    border: 2px solid #080054;
    width: 95%;
    height: 50px;
    color: #525252;
    
    background-color: rgb(221, 221, 221);
    /* font-weight: bold; */

}

.a {
    width: 41%;
    display: flex;
    flex-direction: column;
    /* margin-left: 10px; */
}

.a1 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 130px;
    display: flex;
    flex-direction: column;
}

.a1:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

.a11 {
    height: 20px;
    margin: 10px;
    font-size: 24px;
    font-weight: 440;
}

.a12 {
    height: 1px;
    background-color: #e6e6e6;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.a13 {
    display: flex;
    flex-direction: row;
}

.graph {
    max-width: 900px;
    margin: 20px auto;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.stock-price-data {
    margin-top: 2px;
    margin-left: 25px;
    margin-right: 15px;
    font-size: xxx-large;
}

.green {
    color: green;
    background-color: rgb(196, 221, 193);
    border-radius: 20px;
    margin-left: 5px;
    font-size: x-large;
    font-weight: 600;
    margin-top: 12px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;

}

.red {
    color: rgb(146, 16, 16);
    background-color: #e1c7c7;
    border-radius: 20px;
    margin-left: 5px;
    font-size: x-large;
    font-weight: 600;
    margin-top: 12px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

.a3 {
    height: 110px;
    display: flex;
    flex-direction: row;
    flex-shrink:0.5;
    background-color: none;
    justify-content: space-evenly;
    border-radius: 12px;
}

.custom-stock-1 {
    background: #9E7BFF;
    width: 30%;
    border-radius: 10px;
    color: #050720;
    margin: 10px;
    transition: background 1s, color 0.7s;
}

.custom-stock-1:hover {
    background: linear-gradient(to left, #000, #060606);
    color: white;
}

.custom-stock-2 {
    background: #ffffff;
    width: 30%;
    border-radius: 10px;
    color: #050720;
    margin: 10px;
    transition: background 1s, color 0.7s;
}

.custom-stock-2:hover {
    background: linear-gradient(to left, #000, #060606);
    color: white;
}

.custom-stock-3 {
    background: #6425fe;
    width: 30%;
    border-radius: 10px;
    color: #050720;
    margin: 10px;
    transition: background 1s, color 0.7s;
}

.custom-stock-3:hover {
    background: linear-gradient(to left, #000, #060606);
    color: white;
}

.c {
    width: 25%;
}

.stock_attributes {
    height: 540px;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin-left: 6%;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stock_attributes_table {
    width: 100%;
    font-size: 20px;
    border: #111;
}

tr:hover {
    background-color: #f5f5f5;
    /* Set the background color on hover */
}

.satat {
    text-align: left;
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: 1px solid #e6e6e6;
    font-size: small;
    color: #898989;
}

.satat1 {
    text-align: right;
    padding-bottom: 8px;
    padding-top: 8px;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 500;
    font-size: medium;
}

.add-button {
    margin-top: 2%;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 35px;
    font-weight: 100;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 85%;
    margin-left: 6%;
    height: 15%;
}

.add-button:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

.custom-stock-1, .custom-stock-2, .custom-stock-3 {
    font-size: 18px;
    color: #333;
    background-color: #f8f8f8;
    padding: 10px;
    margin-left: 5%;
    flex-shrink: 10%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.custom-stock-1 {
    border-left: 7px solid #ffffff;
    color:#f3f3f3;
    background-color: #5643CC;
}

.custom-stock-2 {
    border-left: 7px solid #040404;
    background-color: #ffffff;
    color:#000
}

.custom-stock-2:hover .symbol {
    color: #ffffff;
}
.custom-stock-3 {
    border-left: 7px solid #ffffff;
    background-color: #9E7BFF;
    color: #ffffff;
    
}

.custom-stock-1, .custom-stock-2, .custom-stock-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 10px;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.symbol {
    
    font-size: 15px;
    padding-bottom:25px;
}

.price {
    color: #28a745;
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.pchange {
    color: #a5a5a5;
    font-size: 18px;
}