<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='relu.css') }}">
</head>

<body>
    <iframe frameborder='0' width="100%" src="{{ iframe }}?search_error={{ search_error }}" frameborder="0" class="nav-bar" height="50px"></iframe>


    <div class="flex-container">
        <div class="container-1">
            <div class="stock-table-header">NIFTY 50 Stocks</div>
            <form action="/dashboard" method="POST" class="filter-container">
                <div>
                    <input type="hidden" name="form_type" value="filter">
                    <input type="text" class="greater-box" name="greater" placeholder="Greater than">
                    <input type="text" class="less-box" name="less" placeholder="Less than">
                    <select id="parameter" name="stock_parameter" required>
                        <option value="" disabled selected>Select Parameter to Compare</option>
                        {% for option in parameter_options %}
                        <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Submit</button>
                    {%if form_posted %}
                    <a href="{{ url_for('reset_filter') }}" class="btn-primary">Reset Filter</a>
                    {%endif%}
                </div>
                <div class="filter-error">{{filter_error }}</div>
            </form>
            <div class="user-cards" data-user-cards-container></div>
            <div class="card-container">
                {% for card in stocks_data%}
                <a href="/stock/{{card['symbol']}}" class="card-link">
                    <div class="card" data-symbol="{{ card['symbol'] }}"
                        style="background-color: {{ 'white' if loop.index is odd else '#f0f0f0' }};">
                        <div class="header" style="margin-bottom: 7px;font-size: 20px;">
                            {{ card['symbol'] }}
                        </div>
                        <div class="body">
                            <div class="stock-info">
                                <p class="stock-open spaced">{{ card['price'] }}</p>
                                <p class="stock-high spaced" id="dataItem">{{ '%.2f'%card['pchange']}}%</p>
                            </div>
                            <script>
                                var dataItems = document.querySelectorAll('.stock-high');
                                dataItems.forEach(function (dataItem) {
                                    var lossValue = parseFloat(dataItem.textContent.replace('%', ''));
                                    if (lossValue >= 0) {
                                        dataItem.style.color = '#3cb242';
                                    } else {
                                        dataItem.style.color = 'red';
                                    }
                                });
                            </script>
                        </div>
                    </div>
                </a>
                {% endfor %}
                <script>
                    document.getElementById('search').addEventListener('input', function (e) {
                        var search = e.target.value.toLowerCase();
                        var cards = document.querySelectorAll('.card');
                        cards.forEach(function (card) {
                            var symbol = card.getAttribute('data-symbol').toLowerCase();
                            if (symbol.includes(search)) {
                                card.style.display = '';
                            } else {
                                card.style.display = 'none';
                            }
                        });
                    });
                </script>
            </div>
        </div>
        <div class="container-2">
            <div class="container-2a">
                <div class="graph">
                    {{ plot_div|safe }}
                </div>
                <div style="width:2%;"></div>
            </div>
            <div class="container-2b">
                <div class="container-2b-a">
                    <div class="red-bar"></div>
                    <div class="container-2b-ab">
                        <table class="table1">
                            <tr class="table-head">
                                <th style=" font-family: Verdana, Geneva, Tahoma, sans-serif;">Top
                                    Losers</th>
                                <th>Value</th>
                                <th style="color:crimson">Loss</th>
                            </tr>
                            {% for data_item in asc %}
                            <tr>
                                <td style="font-family: sans-serif;font-weight: bold;">
                                    {{data_item['symbol']}}
                                </td>
                                <td>{{data_item['price']}}</td>
                                <td id="dataItem" class="loss">{{ '%.2f'%data_item['pchange'] }}%</td>

                                <script>
                                    var dataItems = document.querySelectorAll('.loss');
                                    dataItems.forEach(function (dataItem) {
                                        var lossValue = parseFloat(dataItem.textContent.replace('%', ''));
                                        if (lossValue >= 0) {
                                            dataItem.style.color = 'lightgreen';
                                        } else {
                                            dataItem.style.color = 'red';
                                        }
                                    });
                                </script>
                            </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>
                <div class="container-2b-b">
                    <div class="container-2b-ba"></div>
                    <div class="container-2b-bb">
                        <table>
                            <tr class="table-head">
                                <th>Top
                                    Gainers</th>
                                <th>Value</th>
                                <th style="color:green">Gain</th>
                            </tr>
                            {% for data_item in dsc %}
                            <tr>
                                <td>
                                    {{data_item['symbol']}}</td>
                                <td>{{data_item['price']}}</td>
                                <td id="dataItem" class="gain">{{ '%.2f'%data_item['pchange'] }}%</td>
                                <script>
                                    var dataItems = document.querySelectorAll('.gain');
                                    dataItems.forEach(function (dataItem) {
                                        var lossValue = parseFloat(dataItem.textContent.replace('%', ''));
                                        if (lossValue >= 0) {
                                            dataItem.style.color = '#3cb242';
                                        } else {
                                            dataItem.style.color = 'red';
                                        }
                                    });
                                </script>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="container-3">
            <div class="container-3a">
                <div class="container-3a-a">
                    <div>SENSEX</div>
                    <div>
                        <div style="font-size: medium;display:flex;flex-direction: row;">
                            <div>{{sensex_data['currentValue']}} ({{sensex_data['pChange']}}%)</div>
                            <div
                                class="{% if sensex_data['pChange'] > 0 %}up_triangle{% else %}down_triangle{% endif %}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-3a-b">
                    <div class="container-3a-aa">NIFTY 50</div>
                    <div class="container-3a-ab">
                        <div style="font-size: medium;display:flex;flex-direction: row;">
                            <div>{{nifty50_data['lastPrice']}} ({{nifty50_data['pChange']}}%)</div>
                            <div
                                class="{% if nifty50_data['pChange'] > 0 %}up_triangle{% else %}down_triangle{% endif %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="watchlist">
            </div>
            <div class="container-3b">
                <div class="News-title">
                    <h3 class="news-heading">
                        Stock News</h3>
                </div>
                <div class="article">
                    {% for article in news_articles %}
                    <div class="snippet">
                        <div class="headline">{{ article['title'] }}</div>
                        <a class="source-link" href="{{ article['url'] }}" target="_blank">READ MORE</a>
                        <div style="height:1px;background-color: #dadada;margin-top: 10px;margin-right: 5px;"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
</html>