<!DOCTYPE html>

<head>
    <title>Plot and Compare Stocks</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plot_compare.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='news.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">

</head>

<body>
    {%with active_tab=active_tab, login_display=login_display, user=user, search_error=search_error%}
    {% include 'navbar.html' %}
    {% endwith %}

    <div class="flex-container">
        <div class="container-1">
            <h1>Plot and Compare Stocks</h1>
            <div class="search-form">
                <form action="/plot_compare" method="POST" class="form-container">
                    <div>
                        <input type="hidden" name="form_type" value="compare">
                        <input type="text" class="input-box compulsory" name="stock1" placeholder="Stock 1" required>
                        <input type="text" class="input-box" name="stock2" placeholder="Stock 2" required>
                        <input type="text" class="input-box" name="stock3" placeholder="Stock 3 (optional)">
                        <select id="stockParameter" name="stock_parameter" required>
                            <option value="" disabled selected>Select Parameter to Compare</option>
                            {% for option in parameter_options %}
                            <option value="{{ option }}">{{ option }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="compare-submit-button">Submit</button>
                    </div>
                    <div class="error">{{ error }}</div>
                    <div class="graph">{{ plot_div|safe}}</div>
                </form>
            </div>
        </div>
        {% with sensex_data=sensex_data, nifty50_data=nifty50_data, news_articles=news_articles,
        watchlist=watchlist,user=user,login_display=login_display %}
        {% include 'right_dashboard.html' %}
        {% endwith %}
    </div>
</body>

</html>