<!DOCTYPE html>
<head>
    <title>{{ stock_card_data['symbol']}} Details</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stock-page.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='news.css') }}">

    <style>
        p {
            width: 15%;
            margin: 10px auto;
            display: inline-block;
        }
    </style>
</head>

<body>

    {%with active_tab=active_tab, login_display=login_display, user=user, search_error=search_error%}
    {% include 'navbar.html' %}
    {% endwith %}

    <div class="flex-container">
        <div class="a">
            <div class="a1">
                <div class="a11">{{stock_card_data['symbol'] }} </div>
                <div class="a12"></div>
                <div class="a13">
                    <div class="stock-price-data">
                        {{ stock_card_data['price']}}
                    </div>
                    <div
                        class="{% if stock_card_data['pchange'] > 0 %}green{% elif stock_card_data['pchange'] < 0 %}red{% endif %}">
                        {% if stock_card_data['pchange'] > 0 %}
                        &#8593; <!-- Upwards arrow -->
                        {% elif stock_card_data['pchange'] < 0 %} &#8595; <!-- Downwards arrow -->
                            {% endif %}
                            {{ '%.2f' % stock_card_data['pchange'] }}%
                    </div>
                </div>
            </div>
            <div class="a2">
                <div class="graph">
                    {{ plot_div|safe}}
                </div>
            </div>
            <div class="a3">
                <div class="custom-stock-1">{{popular_stocks[0]['symbol']}} {{popular_stocks[0]['price']}}({{'%.2f'
                    %popular_stocks[0]['pchange']}}%)</div>
                <div class="custom-stock-2">{{popular_stocks[1]['symbol']}} {{popular_stocks[1]['price']}}({{'%.2f'
                    %popular_stocks[1]['pchange']}}%)</div>
                <div class="custom-stock-3">{{popular_stocks[2]['symbol']}} {{popular_stocks[2]['price']}}({{'%.2f'
                    %popular_stocks[2]['pchange']}}%)</div>
            </div>
        </div>
        <div class="c">
            <div class="stock_attributes">
                <div style="height: 10%;">
                    <div style="background-color: #e6e6e6;height: 1px;margin-top: 40px;"></div>
                </div>
                <div>
                    <table class="stock_attributes_table">
                        {% for para,value in stock_detail_data.items() %}
                        <tr>
                            <td class="satat">
                                {{ para|upper}}</td>
                            <td class="satat1">
                                {{ value }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {%if login_display=='Logout' %}
            <form method="post" class="add-button">
                <input type="hidden" name="form_type" value="add_to_watchlist">
                <button class="add-button" type="submit" role="button"> Add Stock to Watchlist </button>
            </form>
            {%elif login_display=='Login'%}
            <button class="add-button"> Login to access this feature </button>
            {%endif%}
        </div>

        {% with sensex_data=sensex_data, nifty50_data=nifty50_data, news_articles=news_articles,
        watchlist=watchlist,user=user,login_display=login_display %}
        {% include 'right_dashboard.html' %}
        {% endwith %}

    </div>
</body>

</html>