<!DOCTYPE html>
<html>
<head>
    <title>{{ symbol }} Details</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>{{ symbol }} Details</h1>
    <h2>Current Price: {{livedata['lastPrice']}} Percent Change: {{livedata['pChange']}}    </h2>
    {% for col,para in stockpara.items() %}
    <p>{{para}}: {{ historicaldata[col]}}</p>
    {% endfor%}
    <div class = "graph">
        {{ plot_div|safe }}
    </div>
    <!-- Add more fields as needed -->
</body>
</html>
