<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Information</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='relu.css') }}">
</head>

<body>
    <div class="tables-container">
        <section>
            <div class="search-wrapper">

                <input type="search" id="search" data-search placeholder="Enter stock value">
            </div>
            <div class="user-cards" data-user-cards-container></div>
            <div class="card-container">
            {% for symbol, data in stocks_data.items() %}
            <div class="card" data-symbol="{{ symbol }}">
                <a href="/{{symbol}}" class="card-link">
                <div class="header">
                    {{ symbol }}
                </div>
                <div class="body">
                    <div class="stock-info">
                        <p class="stock-open spaced">{{ data['lastPrice'] }}</p>
                        <br>
                        <p class="stock-high spaced">{{ data['pChange'] }}%</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
            <script>
                document.getElementById('search').addEventListener('input', function (e) {
                    var search = e.target.value.toLowerCase();
                    var cards = document.querySelectorAll('.card');
                    cards.forEach(function (card) {
                        var symbol = card.getAttribute('data-symbol').toLowerCase();
                        if (symbol.includes(search)) {
                            card.style.display = '';
                        } else {
                            card.style.display = 'none';
                        }
                    });
                });
            </script>
        </section>
        <!-- <section>
            <div>
                <label>
            </div>
            {% for gainer in gainers %}
            <div class="ascending-data" data-symbol="{{ gainer['symbol'] }}">
                <div class="header">
                    {{ gainer['symbol']  }}</div>
                <div class="body">
                    <div class="stock-info">
                        <p class="stock-open"> {{ gainer['price']}}</p>
                    </div>
                </div>

            </div>
            {% endfor %}
        </section> 
        <section>
            {% for loser in losers %}
            <div class="ascending-data" data-symbol="{{ loser['symbol'] }}">
                <div class="header">
                    {{ loser['symbol'] }}</div>
                <div class="body">
                    <div class="stock-info">
                        <p class="stock-open"> {{ loser['price']}}</p>
                    </div>
                </div>

            </div>
            {% endfor %}
        </section> -->
    </div>
</body>

</html>